name: Periodic Release Job

on:
  schedule:
    - cron: '*/5 * * * *'

jobs:
  check-release:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch latest release
        run: |
          LATEST_RELEASE_TAG=$(curl -s https://api.github.com/repos/gregito/terraform-provider-cdp/releases | jq '.[].tag_name' | head -n 1 | sed 's/"//g')
          echo "Latest release tag: $LATEST_RELEASE_TAG"
      - name: Check out code
        uses: actions/checkout@v4
      - name: Fetch latest commit
        run: |
          git fetch --tags
          LATEST_COMMIT_TAG=$(git describe --tags --abbrev=0)
          echo "Latest commit tag: $LATEST_COMMIT_TAG"
      - name: Compare tags
        run: |
          if [ "$LATEST_RELEASE_TAG" != "$LATEST_COMMIT_TAG" ]; then
            echo "Tags are different, performing action..."
            # Perform your action here, like executing 'make release'
          else
            echo "Tags are identical, no action needed."
          fi