name: Periodic Release Job

on:
  schedule:
    - cron: '*/15 * * * *'

jobs:
  check-release-branches:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get branch list
        id: get-branches
        run: |
          branches=$(git branch -r --list "origin/release-v*")
          echo "::set-output name=branches::$branches"

      - name: Iterate through branches and trigger jobs
        run: |
          for branch in ${{ steps.get-branches.outputs.branches }}; do
            branch_name=$(echo "$branch" | sed 's/origin\///' | tr -d '[:space:]')
            if [[ "$branch_name" == release-v* ]]; then
              if git log --since="24 hours ago" --pretty=oneline "origin/$branch_name" | grep .; then
                echo "Running job for $branch_name"
              fi
            fi
          done