name: Security Scan
on:
  pull_request:
    branches:
      - main
jobs:
  tests:
    name: 'Perform Gosec scan'
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          fetch-depth: 0
      - name: Tree
        run: |
          tree -L 3 -d ./
      - name: PWD&LS
        run: |
          pwd;ls  -lah
      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: ./..
